@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .center{
    @apply mx-auto max-w-7xl px-2;
  }
  .customBtn{
    @apply px-4 py-2 font-bold rounded-[5px] bg-gold ;
  }
  .rounded5{
    @apply rounded-[5px]
  }
  .text12{
    @apply text-[12px] hover:text-gray-500 transition-all duration-200
  }
  

}

* >*{
  font-family: 'Lato';
}

.date-input::-webkit-inner-spin-button,
        .date-input::-webkit-calendar-picker-indicator {
          display: none;
          -webkit-appearance: none;
        }

        .date-input {
          /* Hide the default arrow icon */
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding: 0.5rem 1rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
        }

         .splide__arrow svg{
  fill: white !important;
}
.splide__arrow {
  background-color: #AC906F !important;
}
.splide__pagination__page.is-active{
  background-color: #AC906F !important;
  
}

::selection{
  background-color: #AC906F;
  color: #ffffff;
}